In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
175,tt1355630,11000000,78874843,If I Stay,ChloÃ« Grace Moretz|Jamie Blackley|Liana Liber...,R.J. Cutler,Live for Love.,Based on Gayle Forman's novel of the same name...,106,Drama,New Line Cinema|Metro-Goldwyn-Mayer (MGM),8/21/2014,7.2,2014
1132,tt0349205,40000000,190212113,Cheaper by the Dozen,Steve Martin|Bonnie Hunt|Piper Perabo|Tom Well...,Shawn Levy,Growing pains? They've got twelve of them!,The Baker brood moves to Chicago after patriar...,98,Comedy|Drama|Family,Twentieth Century Fox Film Corporation|Robert ...,12/24/2003,5.8,2003
122,tt1951265,125000000,752100229,The Hunger Games: Mockingjay - Part 1,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Fire burns brighter in the darkness,Katniss Everdeen reluctantly becomes the symbo...,123,Science Fiction|Adventure|Thriller,Lionsgate|Color Force,11/18/2014,6.6,2014
727,tt1502404,50000000,28931401,Drive Angry,Nicolas Cage|Amber Heard|William Fichtner|Bill...,Patrick Lussier,One hell of a ride.,Milton is a hardened felon who has broken out ...,105,Fantasy|Thriller|Action|Crime,Summit Entertainment|Saturn Films|Nu Image Fil...,2/24/2011,5.3,2011
215,tt2103254,20000000,100525432,Tammy,Melissa McCarthy|Susan Sarandon|Kathy Bates|Al...,Ben Falcone,She hit the road. The road hit back.,After losing her job and learning that her hus...,97,Comedy,New Line Cinema|Gary Sanchez Productions,7/2/2014,5.1,2014

In [ ]:
data.describe()

# Предобработка

In [174]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data['name_lenght'] = data['original_title'].map(lambda x : len(x))
data['overview_lenght'] = data['overview'].map(lambda x: len(x))
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
#data.sample(5)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [180]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [181]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [12]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [40]:

data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [182]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [41]:

data.runtime.mean()

109.6585494970884

In [183]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [42]:

data.runtime.median()

107.0

In [184]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [43]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [185]:
answers['6'] = '239. Avatar (tt0499549))'

# 7. Какой фильм самый убыточный?

In [19]:

data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [186]:
answers['7'] = '1245. The Lone Ranger (tt1210819))'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:

data[data.revenue > data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [187]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:

data[data.profit == data[data.release_year == 2008].profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [188]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:

data[data.profit == data[(data.release_year == 2012)|(data.release_year == 2013)|(data.release_year == 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [189]:
answers['10'] = '1245. The Lone Ranger (tt1210819))'

# 11. Какого жанра фильмов больше всего?

In [23]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data['genres'].value_counts()

Comedy                                               141
Drama                                                102
Comedy|Romance                                        60
Drama|Romance                                         45
Horror|Thriller                                       35
                                                    ...
Fantasy|Family|Comedy|Animation                        1
Action|Adventure|Drama|War                             1
Action|Comedy|Family                                   1
Drama|Action|War|History                               1
Action|Adventure|Mystery|Science Fiction|Thriller      1
Name: genres, Length: 652, dtype: int64

In [190]:
answers['11'] = 'Comedy'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:

data[data.profit > 0].genres.value_counts()

Comedy                                               121
Drama                                                 70
Comedy|Romance                                        52
Drama|Romance                                         38
Horror|Thriller                                       31
                                                    ...
Thriller|Crime|Mystery|Drama                           1
Fantasy|Family|Comedy|Animation                        1
Action|Comedy|Family                                   1
Science Fiction|Mystery|Thriller                       1
Action|Adventure|Mystery|Science Fiction|Thriller      1
Name: genres, Length: 548, dtype: int64

In [191]:
answers['12'] = 'Comedy'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [25]:

data.groupby(['director']).revenue.sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [192]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:

df_grouped = data[data.genres.str.contains('Action')]
df_grouped.director.value_counts(ascending = False)

Paul W.S. Anderson                           7
Michael Bay                                  7
Robert Rodriguez                             6
Antoine Fuqua                                6
Ridley Scott                                 6
                                            ..
Trey Parker                                  1
Phillip Noyce                                1
Mark Andrews|Steve Purcell|Brenda Chapman    1
Randall Wallace                              1
Luke Greenfield                              1
Name: director, Length: 345, dtype: int64

In [193]:
answers['14'] = 'Paul W.S. Anderson'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [59]:

cols = ['cast', 'revenue', 'original_title']
df = data.query('release_year == 2012')[cols].copy()
# Группируем по актёрам и по кассовым сборам фильмов с их участием:
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df = df.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue', ascending=False)
df

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

In [194]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [137]:

df = data[data['budget'] > data.budget.mean()]
df = df.cast.str.split('|')
df = df.explode('cast').value_counts(ascending = False)
df

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Tom Cruise            15
Eddie Murphy          15
                      ..
Nancy Cartwright       1
Tom McGrath            1
Mindy Sterling         1
Giancarlo Giannini     1
Lara Flynn Boyle       1
Name: cast, Length: 1505, dtype: int64

In [195]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [138]:
data_tmp = data[data.cast.str.contains("Nicolas Cage")]
cage_genres=data_tmp['genres'].str.cat(sep='|') # превращаем все в одну строку
cage_genres=pd.Series(cage_genres.split('|')) # создаем список разделяя строку по '|' 
cage_genres=cage_genres.value_counts(ascending=False)
cage_genres

In [196]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [94]:
df = data[data.profit == data[data.production_companies == 'Paramount Pictures'].profit.min()]
df

In [197]:
answers['18'] = 'Domestic Disturbance'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [143]:
df = df.groupby(['release_year']).sum()
df = df.sort_values(by='profit', ascending = False)
df

                  budget     revenue  runtime  vote_average      profit
release_year
2014           947600000  3243064519     1576          88.9  2295464519
2007           982000000  3183675217     1721          95.4  2201675217
2008           916000000  3050595031     1366          72.0  2134595031
2010          1034000000  3008712985     1421          79.6  1974712985
2011           974000000  2845393682     1248          68.3  1871393682
2003           890000000  2745493377     1085          56.7  1855493377
2009           915500000  2737954136     1305          67.9  1822454136
2013           963500000  2599953400     1100          59.9  1636453400
2004          1100000000  2731933725     1624          78.7  1631933725
2005           861000000  2412980298     1193          63.0  1551980298
2001           923000000  2266545668     1571          83.6  1343545668
2012           611500000  1869520056      579          30.0  1258020056
2002           680000000  1702709901     1281          70.6  1022709901
2015           820800003  1691168351     1358          75.9   870368348
2006           901000000  1521170743     1504          81.0   620170743
2000           572900000  1025531386     1333          68.0   452631386

In [198]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [142]:
df = data[data.production_companies.str.contains('Warner Bros', na = False)]
df = df.groupby(['release_year']).sum()
df = df.sort_values(by='profit', ascending = False)
df

                  budget     revenue  runtime  vote_average      profit
release_year
2014           947600000  3243064519     1576          88.9  2295464519
2007           982000000  3183675217     1721          95.4  2201675217
2008           916000000  3050595031     1366          72.0  2134595031
2010          1034000000  3008712985     1421          79.6  1974712985
2011           974000000  2845393682     1248          68.3  1871393682
2003           890000000  2745493377     1085          56.7  1855493377
2009           915500000  2737954136     1305          67.9  1822454136
2013           963500000  2599953400     1100          59.9  1636453400
2004          1100000000  2731933725     1624          78.7  1631933725
2005           861000000  2412980298     1193          63.0  1551980298
2001           923000000  2266545668     1571          83.6  1343545668
2012           611500000  1869520056      579          30.0  1258020056
2002           680000000  1702709901     1281          70.6  1022709901
2015           820800003  1691168351     1358          75.9   870368348
2006           901000000  1521170743     1504          81.0   620170743
2000           572900000  1025531386     1333          68.0   452631386

In [199]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [159]:

df = data.copy()
df.release_date = pd.to_datetime(df.release_date)
df.release_date.dt.strftime('%B').value_counts(ascending = False)

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_date, dtype: int64

In [200]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [161]:

df = data.copy()
df.release_date = pd.to_datetime(df.release_date)
df.release_date.dt.strftime('%B').value_counts(ascending = False)

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_date, dtype: int64

In [201]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [168]:

df = data.copy()
df["release_date"] = pd.to_datetime(data["release_date"])
df["month"] = df["release_date"].dt.month
df = data[data.month.isin(['1', '2', '12'])] 
df.director.value_counts(ascending = False)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Adam Shankman        4
                    ..
Dewey Nicks          1
Craig Brewer         1
David Dobkin         1
Sergey Bodrov        1
Wayne Kramer         1
Name: director, Length: 332, dtype: int64

In [202]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [173]:

companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['name_lenght'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
    
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

In [203]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [176]:

companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['overview_lenght'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
    
sum_gen.sort_values(ascending=False).head()

Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Lions Gate Family Entertainment      909.0
Crest Animation Productions          909.0
dtype: float64

In [204]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [225]:
df = data.copy()
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

In [227]:
answers['26'] = ['The Dark Knight', 'Inside Out', 'Room', 'Interstellar','The Imitation Game', 'Inception', '12 Years a Slave', 'The Wolf of Wall Street', 'The Lord of the Rings: The Return of the King', 'The Pianist', 'Memento', 'Guardians of the Galaxy', 'The Grand Budapest Hotel', 'Gone Girl', 'Mr. Nobody', 'There Will Be Blood', 'Eternal Sunshine of the Spotless Mind', 'The Prestige', 'Dallas Buyers Club', 'Prisoners', 'Big Hero 6', 'Her', '3 IdiotsThe Lord of the Rings: The Two Towers', 'The Lord of the Rings: The Two Towers', 'The Theory of Everything', 'Spotlight', 'The Fault in Our Stars', 'The Lord of the Rings: The Fellowship of the Ring']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [228]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'25': 'Midnight Picture Show',
 '1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549))',
 '7': '1245. The Lone Ranger (tt1210819))',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819))',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Paul W.S. Anderson',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'Domestic Disturbance',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '26': ['The Dark Knight',
  'Inside Out',
  'Room',
  'Interstellar',
  'The Imitation Game',
  'Inception',
  '12 Years a Slave',
  'The Wolf of Wall Street',
  'The Lord of the Rings: The Return of the King',
  'The Pianist',
  'Memento',
  'Guardians of the Galaxy',
  'The Grand Budapest Hotel',
  'Gone Girl',
  'Mr. Nobody',
  'There Will Be Blood',
  'Eternal Sunshine of the Spotless Mind',
  'The Prestige',
  'Dallas Buyers Club',
  'Prisoners',
  'Big Hero 6',
  'Her',
  '3 IdiotsThe Lord of the Rings: The Two Towers',
  'The Lord of the Rings: The Two Towers',
  'The Theory of Everything',
  'Spotlight',
  'The Fault in Our Stars',
  'The Lord of the Rings: The Fellowship of the Ring']}

In [229]:
# и убедиться что ни чего не пропустил)
len(answers)

26